.custom_btn, input::file-selector-button {
  @apply border rounded-lg p-2 duration-500 border-darkBlue cursor-pointer;
  box-shadow: inset 0 0 0 0 #112D4E;
}
.custom_btn:hover , input::file-selector-button:hover {
  box-shadow: inset 0 -3em 0 0 #112D4E;
  color: white;
}

.custom_input {
  @apply bg-transparent outline-none border-b border-darkBlue;
}
.allPostsDescritpion {
  text-overflow: ellipsis;
}
textarea:focus-visible{
  border: 2px solid #112D4E;
  outline: none ;
}
input::file-selector-button {
  border: thin solid black;
}
