.icon {
    @apply bg-current inline-block
}
.icon-user {
    mask-image: url('/logo/user-solid.svg');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    width: 1em;
    height: 1em;
}